In [1]:
import pandas as pd
import numpy as np
import difflib
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
data=pd.read_csv(r'Downloads/anime.csv')

In [3]:
data.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [4]:
data.isna().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [5]:
selected_features = ['name','genre','type']
print(selected_features)

['name', 'genre', 'type']

In [6]:
for feature in selected_features:
  data[feature] =data[feature].fillna('')

In [7]:
combined_features = data['genre']+' '+data['name']+' '+data['type']

In [8]:
vectorizer = TfidfVectorizer()

In [9]:
feature_vectors = vectorizer.fit_transform(combined_features)

In [10]:
print(feature_vectors)

  (0, 7052)	0.2153865705811725
  (0, 11410)	0.388228413282953
  (0, 7158)	0.4550925136134089
  (0, 7534)	0.19620630762634764
  (0, 5466)	0.5362694990332014
  (0, 10286)	0.283528096839026
  (0, 9230)	0.2693369646930725
  (0, 8877)	0.2551674128629534
  (0, 2454)	0.2272779065505823
  (1, 11112)	0.12895414126192567
  (1, 1201)	0.5232067645816747
  (1, 400)	0.48203062149680964
  (1, 3003)	0.48203062149680964
  (1, 9797)	0.17227165178083892
  (1, 6777)	0.2588749126458477
  (1, 6319)	0.22254048678494712
  (1, 2810)	0.1585717818337147
  (1, 263)	0.1575293457906819
  (1, 241)	0.1463092283179353
  (1, 2454)	0.16532865780877098
  (2, 3350)	0.6039900989098858
  (2, 2844)	0.22149954475630707
  (2, 9233)	0.22149954475630707
  (2, 9117)	0.4239545425771398
  (2, 8153)	0.3506859285185162
  :	:
  (12290, 11595)	0.5579079220837376
  (12290, 8046)	0.2062718853151471
  (12291, 2115)	0.5258061559122676
  (12291, 11370)	0.5021981138538678
  (12291, 3221)	0.5128137128163226
  (12291, 3935)	0.19648831849139634
  (12291, 4165)	0.3634705730548016
  (12291, 8046)	0.1343837529328681
  (12291, 7534)	0.13989112538411944
  (12292, 4467)	0.41422534892892743
  (12292, 2115)	0.43369784233222813
  (12292, 11370)	0.41422534892892743
  (12292, 3221)	0.42298135589710956
  (12292, 3935)	0.1620683950064382
  (12292, 9577)	0.26541533917046845
  (12292, 4165)	0.29979946319119943
  (12292, 8046)	0.11084302273025622
  (12292, 2200)	0.2786332146727832
  (12292, 7534)	0.11538563890576214
  (12293, 11653)	0.5542682715239337
  (12293, 8378)	0.5542682715239337
  (12293, 11741)	0.5542682715239337
  (12293, 3935)	0.19235975692394147
  (12293, 7052)	0.15033957008286064
  (12293, 7534)	0.1369517693535767

In [11]:
similarity = cosine_similarity(feature_vectors)

In [12]:
data['anime_id'].isnull().sum()

0

In [13]:
index=[]
for i in range(0,12294):
    index.append(i)
data['index']=index
data.head()

,anime_id,name,genre,type,episodes,rating,members,index
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,0
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,1
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262,2
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572,3
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266,4

In [14]:
anime_name = input(' Enter your favourite anime name : ')

list_of_all_titles = data['name'].tolist()

find_close_match = difflib.get_close_matches(anime_name, list_of_all_titles)

close_match = find_close_match[0]

index_of_the_anime = data[data.name == close_match]['index'].values[0]

similarity_score = list(enumerate(similarity[index_of_the_anime]))

sorted_similar_anime = sorted(similarity_score, key = lambda x:x[1], reverse = True) 

print('30 Animes suggested for you : \n')

i = 1

for anime in sorted_similar_anime:
  index = anime[0]
  title_from_index = data[data.index==index]['name'].values[0]
  if (i<31):
    print(i, '.',title_from_index)
    i+=1

 Enter your favourite anime name : Fullmetal Alchemist: Brotherhood
30 Animes suggested for you :

1 . Fullmetal Alchemist: Brotherhood
2 . Fullmetal Alchemist: Brotherhood Specials
3 . Fullmetal Alchemist
4 . Fullmetal Alchemist: Brotherhood - 4-Koma Theater
5 . Fullmetal Alchemist: Reflections
6 . Fullmetal Alchemist: The Sacred Star of Milos
7 . Fullmetal Alchemist: The Conqueror of Shamballa
8 . Fullmetal Alchemist: Premium Collection
9 . Fullmetal Alchemist: The Sacred Star of Milos Specials
10 . Brotherhood: Final Fantasy XV
11 . Macross 7
12 . X
13 . Berserk (2017)
14 . Madlax
15 . Magi: The Kingdom of Magic
16 . Magi: The Labyrinth of Magic
17 . InuYasha
18 . Berserk
19 . Break Blade
20 . 07-Ghost
21 . Meoteoldosa
22 . Tsubasa Chronicle
23 . Fairy Tail
24 . Military!
25 . Magic Knight Rayearth
26 . Arslan Senki (TV)
27 . Terra e... (TV)
28 . Area 88 (TV)
29 . Arion
30 . E&#039;s Otherwise